<div class="data" *ngIf="mod">
  <h1>{{ mod.name }}</h1>
  <button mat-button (click)="GoBack()">Back</button>
  <br />
  <span class="silent"> {{ mod.downloads }} downloads </span>
  <br>
  <span> Made by: {{user?.displayName}}</span>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput readonly>{{ mod.description }}</textarea>
  </mat-form-field>
  <div class="photos">
    Photos:
    <br />
    <img src="{{ image }}" class="preview skeleton" (click)="DownloadImg()" />
  </div>
  <div class="download">
    <button mat-raised-button (click)="DownloadMod()">Download</button>
  </div>
  <div class="controls" *ngIf="owner">
    <button mat-raised-button (click)="EditMod()">Edit</button>
    <button mat-raised-button (click)="DeleteMod()">Delete</button>
  </div>
</div>
